.custom-prev,
.custom-next {
  width: 50px;
  height: 50px;
  /* background: white; */
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-size: 28px;
  color: #4b2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background: #b45309;
  color: white;
  transform: scale(1.1);
}
.reviewSwiper {
  padding-bottom: 30px; /* creates space for pagination */
}

.reviewSwiper .swiper-pagination {
  bottom: 0px !important;
}
.reviewSwiper .swiper-pagination-bullet {
  width: 30px;
  height: 6px;
  border-radius: 20px;
  background: #d1d5db;
  opacity: 1;
  transition: all 0.3s ease;
}

.reviewSwiper .swiper-pagination-bullet-active {
  background: #b45309; /* your orange theme */
  width: 40px;
}